body {
    text-align: center;
}

.content {
    display: grid;
    grid-template-columns: repeat(3, 4fr);
    grid-template-rows: repeat(2, minmax(300px, auto));
    grid-gap: 20px;
    max-width: 960px;
    margin: 0 auto;
}

.content div {
    background: violet;
    padding: 30px;
}

.four p {
    border: 1px solid white;
    margin: 0;
    padding: 20px;
}

.four {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    /* grid-column: 1 / 4; */
    /* instead of writing starting & end point, you can use span which combines 3 cols*/
    grid-column: span 3;
}
