body {
    text-align: center;
}

.content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, minmax(150px, auto));
    grid-gap: 20px;
    max-width: 960px;
    margin: 0 auto;
}

.content div {
    background: lightskyblue;
    padding: 30px;
}

.content div:nth-child(even){
    background: royalblue;
}

.one {
    grid-column: 1 / 3;
}

.two {
    grid-column: 3 / 7;
}

.three {
    grid-column: 1 / 4;
    grid-row: 2 / 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.four {
    grid-column: 4 / 7;
    grid-row: 2 / 4;
}

.five {
    grid-column: 1 / 3;
}

.six {
    grid-column: 3 / 7;
}

.three p {
    margin: 0;
    padding: 20px;
    border: 1px solid white;
}


