body {
    text-align: center;
    color: #fff;
}

#content {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: minmax(130px, auto);
    max-width: 960px;
    margin: 0 auto;
    grid-gap: 10px;
    grid-template-areas: 
    "header header header header"
    "aside aside main main"
    "nav nav main main"
    "section section section section"
    "section section section section"
    "footer footer footer footer";
}

@media screen and (max-width:760px) {
    #content {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-auto-rows: minmax(130px, auto);
        max-width: 960px;
        margin: 0 auto;
        grid-gap: 10px;
        grid-template-areas: 
        "header header header header"
        "main main main main"
        "section section section section"
        "section section section section"
        "aside aside nav nav"
        "footer footer footer footer";
    }
}

#content > * {
    background: #3bbced;
    padding: 30px;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

section {
    grid-area: section;
}

nav {
    grid-area: nav;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}