body {
    color: #fff;
    text-align: center;
    font-family: Nunito -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(150px, auto);
    grid-gap: 10px;
    max-width: 960px;
    margin: 0 auto;
    transform: rotate(45deg);
    padding: 13rem;
}

.content div {
    background: #333;
    padding: 30px;
}

.one {
    grid-column: 1 / 3;
    grid-row: 1 / 5;
}

.two {
    grid-column: 3 / 7;
    grid-row: 1 / 3;
}

.three {
    grid-column: 3 / 5;
    grid-row: 3 / 5;
}

.four {
    grid-column: 5 / 7;
    grid-row: 3 / 7;
}

.five {
    grid-column: 1 / 5;
    grid-row: 5 / 7;
}







